.heading {
  font-size: var(--font-size-var);
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav-container {
  display: flex;
  justify-content: space-around;
}

.img-c-fit {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}

.grow-end-c {
  display: flex;
  flex: 1 0 auto;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.button {
  border-radius: 0.25rem;
  padding: 0.5rem 1.6rem;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.1rem;
  &.__vmc {
    background-color: var(--main-pink-color);
    color: var(--main-white-color);
    border: 0;
    &:hover {
      color: var(--main-pink-color);
      background-color: var(--main-darkest-color);
    }
  }

  &.__vsc {
    color: var(--main-pink-color);
    background-color: var(--main-darkest-color);
    border: 1px solid var(--main-pink-color);
    &:hover {
      background-color: var(--main-pink-color);
      color: var(--main-white-color);
    }
  }
}
