.heading {
  font-size: var(--font-size-var);
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.05rem solid var(--main-gray-color);
}

.nav-container {
  display: flex;
  justify-content: space-around;
}

.main-container {
  display: flex;
  justify-content: center;
  padding-top: 1.3rem;
  overflow: hidden;
}

.title {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 1rem;
  text-shadow: 3px 0 var(--main-pink-color), -3px 0 var(--main-pink-color),
    0 3px var(--main-pink-color), 0 -3px var(--main-pink-color),
    2px 2px var(--main-pink-color), -2px -2px var(--main-pink-color),
    2px -2px var(--main-pink-color), -2px 2px var(--main-pink-color);
}

.bmt {
  margin-top: 2rem;
}

.rc {
  position: relative;
}

.lat-bar {
  position: absolute;
  top: -2rem;
  right: 0;
  bottom: 0;
  width: 26rem;
  height: 100%;
  background-color: var(--main-pink-color);
}

.title > span {
  pointer-events: none;
  cursor: pointer;
  position: relative;
  animation: jumpy 1s ease-in-out 1;
  display: inline-block;
}

.presentation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 30rem;
  padding-bottom: 3rem;
}

.main-description {
  max-width: 35rem;
  color: var(--main-lgray-color);
  line-height: 1.6rem;
}

small {
  color: var(--main-gray-color);
}

.h-container {
  margin-top: 8rem;
}

.img-c-fit {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}

.grow-end-c {
  display: flex;
  flex: 1 0 auto;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.button {
  border-radius: 0.25rem;
  padding: 0.5rem 1.6rem;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.1rem;
  &.__vmc {
    background-color: var(--main-pink-color);
    color: var(--main-white-color);
    border: 0;
    &:hover {
      color: var(--main-pink-color);
      background-color: var(--main-darkest-color);
    }
  }

  &.__vsc {
    color: var(--main-pink-color);
    background-color: var(--main-darkest-color);
    border: 1px solid var(--main-pink-color);
    &:hover {
      background-color: var(--main-pink-color);
      color: var(--main-white-color);
    }
  }
}

.title > span:nth-child(1) {
  --i: 0;
}

.title > span:nth-child(2) {
  --i: -100%;
}

.title > span:nth-child(3) {
  --i: -200%;
}
.title > span:nth-child(4) {
  --i: -300%;
}

.title > span:nth-child(5) {
  --i: -400%;
}

@keyframes jumpy {
  0% {
    opacity: 0;
    transform: translateX(var(--i));
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
