.button {
  border-radius: 0.25rem;
  padding: 0.5rem 1.6rem;
  cursor: pointer;
}

.__vmc {
  background-color: var(--main-pink-color);
  color: var(--main-white-color);
  border: 0;
}

.__vsc {
  color: var(--main-pink-color);
  background-color: var(--main-darkest-color);
  border: 1px solid var(--main-pink-color);
}
