.lat-bar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 23rem;
  height: 100%;
  background-color: var(--main-darkest-color);
  box-shadow: 0 0 0.3rem var(--main-gray-color);
}

.lat-bar-icontainer {
  width: 100%;
  padding: 1rem 1.5rem;
  overflow-wrap: break-word;
  overflow: hidden;
  text-align: start;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: default;
}

.lb-i-cont {
  max-width: 200px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.lb-img {
  object-fit: cover;
}

.feat-text {
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.login-form-input {
  width: 100%;
  height: 2.2rem;
  margin: 0.5rem 0;
  border-radius: 0.3rem;
  padding-left: 0.5rem;
  font-weight: 500;
  background-color: var(--main-darkest-color);
  border: 0.1rem solid var(--main-white-color);
  color: var(--main-white-color);
}

.login-form-label {
  color: var(--main-lgray-color);
  padding-left: 0.1rem;
}

.form-top-sep {
  border-bottom: 0.1rem solid var(--main-gray-color);
  padding: 1.6rem;
  display: flex;
  justify-content: end;
}

.close-form-button {
  text-decoration: none;
}

.log-b-f {
  font-size: 1.15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-form-cont {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2rem 0;
}
