.settings-page-container {
  display: flex;
  height: calc(100vh - 5.5308rem);
  overflow: hidden; /* Prevent the container from scrolling */
}

.settings-sections {
  flex: 0 0 13rem; /* Sidebar has a fixed width */
  display: flex;
  flex-direction: column;
  padding: 0;
  line-height: 1.9rem;
  overflow-y: auto; /* Enable vertical scrolling for sidebar */
}

.settings-sections-nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: flex-start;
}

.account_siderbar_button {
  font-size: 1rem;
  text-decoration: none;
  color: var(--main-white-color);
  margin-bottom: 0.6rem;
  width: 100%;

  &.active {
    border-right: 0.2rem solid var(--main-pink-color);
  }
}

.account_sider_clicked {
  border-right: 0.2rem solid var(--main-pink-color);
}

.account-sidebar-icon {
  margin: 0 0.8rem;
}

.profile-page-section {
  flex-grow: 1; /* Main content takes the remaining space */
  overflow-y: auto; /* Enable vertical scrolling for main content */
}

.profile-container {
  padding: 3rem;
}
