.settings-page-container {
  display: flex;
  height: calc(100vh - 5.5308rem);
  overflow: hidden; /* Prevent the container from scrolling */
}

.settings-sections {
  flex: 0 0 13rem; /* Sidebar has a fixed width */
  display: flex;
  flex-direction: column;
  padding: 0;
  line-height: 1.9rem;
  overflow-y: auto; /* Enable vertical scrolling for sidebar */
}

.settings-sections-nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: flex-start;
}

.account_siderbar_button {
  font-size: 1rem;
  text-decoration: none;
  color: var(--main-white-color);
  margin-bottom: 0.6rem;
  width: 100%;

  &.active {
    border-right: 0.2rem solid var(--main-pink-color);
  }
}

.account_sider_clicked {
  border-right: 0.2rem solid var(--main-pink-color);
}

.account-sidebar-icon {
  margin: 0 0.8rem;
}

.profile-page-section {
  flex-grow: 1; /* Main content takes the remaining space */
  overflow-y: auto; /* Enable vertical scrolling for main content */
}

.profile-container {
  padding: 3rem;
}

.file-hidden-input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.profile-image-container {
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 100%;
}

.profile-file-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.inner-file-c {
  width: 100%;
  position: relative;
}

.outer-image-box {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
  justify-content: center;
}

.row-container {
  display: flex;
  flex-wrap: wrap;
}

.open-file-button {
  width: 100% !important;
  text-transform: none;
  display: block;
}

.mw {
  margin-bottom: 1rem;
  text-align: left;
}

@media (min-width: 1200px) {
  .outer-image-box {
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }
}

@media (min-width: 768px) {
  .outer-image-box {
    flex: 0 0 33.3333333333% !important;
    max-width: 33.3333333333% !important;
    justify-content: flex-end !important;
  }
}

@media (min-width: 992px) {
  .profile-file-container {
    flex: 0 0 33.3333333333% !important;
    max-width: 33.3333333333% !important;
  }
}

@media (min-width: 768px) {
  .profile-file-container {
    flex: 0 0 50%;
    max-width: 50%;
    justify-content: flex-start !important;
  }
}
