.click-counter-container {
  display: flex;
}

.turl-tab-count {
  flex: 1 0 auto;
}

.url-tab-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--main-pink-color);
}

.urlt1 {
  font-size: 2rem;
  padding: 0.3rem;
}

.urlt2 {
  font-size: 1rem;
  color: var(--main-lgray-color);
  padding-bottom: 0.5rem;
}

.lurl-tab-count {
  width: 70%;
  border: 1px solid var(--main-pink-color);
}

.inne-tc {
  padding: 1rem 2rem;
}

.inne-tc-comp {
  font-size: 1.1rem;
  padding-bottom: 1.2rem;
}
.lk {
  color: #c98151;
  cursor: pointer;
}

.inne-tc-comp:first-of-type {
  font-size: 1.8rem;
  color: var(--main-pink-color);
  padding-bottom: 2rem;
}
